- const truncate = function (s){return s.length > 32 ? `${s.slice(0, 32)}...` : s;}
html
  head
    title Akkeris Detectifier
    style
      include styles.css
    script(src='/processDate.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js')
  body
    div(class='header text-center')
      h1 Akkeris Detectifier
      div(class='nav')
        if listType === 'running'
          a(href='/all')
            h4 All Scans
          h4 Running Scans
        else if listType === 'all'
          h4 All Scans
          a(href='/')
            h4 Running Scans
    div(class='container')
      h3(class='scan-list-title')= listType === 'running' ? 'Running Scans' : 'All Scans'
      table(class='scan-items')
        thead
          tr
            th App Name
            th Endpoint
            th Started At
            th Updated At
            th Status
            th Details
        tbody
          each scan in scans
            tr
              td
                a(href=`${uiEndpoint}/apps/${scan.akkeris_app}/info`, target='_blank') #{scan.akkeris_app}
              td
                a(href=`https://${scan.endpoint}`, target='_blank')= truncate(scan.endpoint)
              td(class='date-item')= scan.created_at
              td(class='date-item')= scan.updated_at
              td #{scan.scan_status}
              td
                if scan.error && scan.error !== ''
                  a(class='underline' href=`/errors/${scan.error}`)
                    img(class='details-img' src='/error-details.png' title='Error Details' alt='Error Details')
                else if scan.scan_status === 'success' || scan.scan_status === 'fail'
                  a(class='underline' href=`/reports/${scan.scan_profile}`)
                    img(class='details-img' src='/scan-details.png' title='Scan Details' alt='Scan Details')