html
  head
    title Akkeris Detectifier
    style
      include styles.css
    script(src='/processDate.js')
  body
    div(class='header text-center')
      h1 Akkeris Detectifier
    div(class='container')
      h3= listType
      div(class='scan-container')
        div(class='scan-item')
          h4 App Name
          each scan in scans
            p
              a(href=`${uiEndpoint}/apps/${scan.app_name}/info`, target='_blank') #{scan.app_name}
        div(class='scan-item')
          h4 Endpoint
          each scan in scans
            p 
              a(href=`https://${scan.endpoint}`, target='_blank') #{scan.endpoint}
        div(class='scan-item')
          h4 Started At
          each scan in scans
            p(class='date-item')= scan.created_at
        div(class='scan-item')
          h4 Updated At
          each scan in scans
            p(class='date-item')= scan.updated_at
        div(class='scan-item')
          h4 Status
          each scan in scans
            p #{scan.scan_status}
        div(class='scan-item')
          h4 Details
          each scan in scans
            if scan.error && scan.error !== ''
              p
                a(class='underline' href=`/errors/${scan.error}`) Error Details
            else if scan.scan_status === 'success'
              p
                a(class='underline' href=`/reports/${scan.scan_profile}`) Scan Details
            else
              p &nbsp;